---
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/global.css";
---

<MainLayout title="Um Okkum">
  <h1>About Our Family</h1>
  <p>
    We’re a small Faroese family exploring Lisbon together. This website is our
    way to share our memories with you all back home!
  </p>
</MainLayout>
