---
import MainLayout from "../layouts/MainLayout.astro";
import Card from "../components/Card.astro";
import "../styles/global.css";
---

<MainLayout title="Blábera Ævintýrið">
  <h1 class="index-header">Portugal 2025</h1>
  <img src="/images/kort.png" alt="Kort" class="kort" />
  <p>
    Hey fitti gestur. Vælkomin til okkara heimasíðu. Her ber til at fáa eitt
    lítið innilit í okkara ferð til Portugal. Tað er jú soleiðis, at Filip er
    sloppin inn á IADE University, har hann millum annað ferð at hava
    lærugreinar sum AI og programmering.
  </p>
  <p>
    Og jú mín sann, Elisabet og Páll fara ein túr við. Á hesum universiteti fer
    Filip at brúka sín dagligdag, meðan Elisabet og Páll fara at mæla heima,
    mæla úti og ikki minst so ætla tey at byrja uppá eitt nýtt súrdeiggj
    ævintýr. Hvør veit, kanska eydnast tað at baka eitt breyð meðan tey búgva
    tættari ækvator í 1/2 ár.
  </p>
  <p>
    Vit gleða okkum at deila nøkur brot úr okkara nýggja dagligdegi við tykkum.
  </p>
  <p>Elisabet, Filip og Páll</p>
  <section class="cards">
    <Card title="Fráferðin" link="/topic" image="/images/flugvari.webp" />
    <Card
      title="Fyrstu dagarnar í Lissabon"
      link="/fyrstavika"
      image="/images/hus.webp"
    />
    <Card title="30 Ár!" link="/30" image="/images/bass.JPG" />
  </section>
</MainLayout>
