---
import MainLayout from "../layouts/MainLayout.astro";
import Card from "../components/Card.astro";
import "../styles/global.css";
---

<MainLayout title="Blábera Ævintýrið">
  <h1 class="index-header">Daglig dagurin í Portugal</h1>
  <p>Her eru nøkur brot úr okkara nýggja dagligdegi í Lissabon.</p>
  <section class="cards">
    <Card title="Fyrstu dagarnir" link="/fyrstavika" image="/images/hus.webp" />
    <Card title="Vika 1" link="/vikanfor" image="/images/pzfz4.webp" />
    <Card title="Vika 2" link="/vika2" image="/images/pz.webp" />
    <Card
      title="Mánaðurin ið fór"
      link="/feb"
      image="/images/pzny.webp"
    />
    <Card
      title="Omma á vitjan"
      link="/omma"
      image="/images/palluti.webp"
    />
    <Card
      title="The Coffee Corner"
      link="/coffeecorner"
      image="/images/coffeecover.webp"
    />
    <Card
      title="Apríl í Lissabon"
      link="/april"
      image="/images/aprilcover.webp"
    />
    <Card
      title="Summarhús við familjuni"
      link="/summarhus"
      image="/images/cover_summarhus.webp"
      class="special-card"
    />
  </section>
</MainLayout>

<style>
  .special-card h2 {
    color: #5b84c4 !important;
  }
</style>