---
import MainLayout from "../layouts/MainLayout.astro";
import PicCard from "../components/PicCard.astro";
import "../styles/global.css";
---

<MainLayout title="Fráferðin" currentPage="Fráferðin">
  <h1>Fráferðin til Portugals</h1>

  <div class="gallery">
    <img src="/images/test.webp" alt="Mækjugøta" />
    <p>
      Túrurin til Portugals byrjaði við at vit fóru til Danmarkar í eina nátt,
      har vit svóvu hjá Elinborg og Jógvani.
      <br />

      Har fingu vit lekkran indiskan mat frá Gunnleyg. Næsta dagin skuldu vit so
      flúgva til Portugals. Páll var fantastiskur allan vegin.
    </p>

    <video controls width="600">
      <source src="/videos/departure.webm" type="video/webm" />
    </video>
    <p>
      Túrurin til Portugals byrjaði við at vit fóru til Danmarkar í eina nátt,
      har vit svóvu hjá Elinborg og Jógvani.
      <br />

      Har fingu vit lekkran indiskan mat frá Gunnleyg. Næsta dagin skuldu vit so
      flúgva til Portugals. Páll var fantastiskur allan vegin.
    </p>
    <PicCard
      src="/images/vagar.webp"
      alt="á vágunum"
      description="Komin til vágarnar"
    />
    <PicCard
      src="/images/urfo2.webp"
      alt="úr føroyum"
      description="Áðrenn vit fóru umborð"
    />
    <PicCard
      src="/images/atlantic2.webp"
      alt="atlantic"
      description="Páll smigraði øðiligt umborð og fekk øll at flenna"
    />
    <PicCard
      src="/images/atlantic.webp"
      alt="atlantic"
      description="Páll var fantastiskur allan vegin!"
    />
    <PicCard
      src="/images/dk.webp"
      alt="Komin til danmark"
      description="Komin til Danmarkar og inn í íbúðina hjá Elinborg og Jógvani."
    />
    <PicCard
      src="/images/flugvari.webp"
      alt="Páll umborð á Atlantic"
      description="Páll svav í 3 tímar áveg til Portugal"
    />
  </div>
</MainLayout>

<style>
  h1 {
    margin-top: 4rem;
    text-align: center;
  }
</style>
