---
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/global.css";
---

<MainLayout title="Vika 2" currentPage="vika2">
  <div class="full-screen-image" style="margin-top: -0.001%;">
    <img src="/images/vika2-1.PNG" alt="Full-width picture of Lisbon" />
  </div>
  <div class="full-screen-image" style="margin-top: -0.001%;">
    <img src="/images/vika2-2.jpg" alt="Full-width picture of Lisbon" />
  </div>

  <div class="gallery">
    <iframe
      class="movie"
      src="https://player.vimeo.com/video/1053582495?h=46b82f44df"
      title="Vimeo video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    >
    </iframe>
  </div>
</MainLayout>

<script src="/src/script/wiggle.js"></script>
<style>
  body,
  html {
    margin: 0; /* Removes default margins */
    padding: 0; /* Removes default padding */
    overflow-x: hidden; /* Prevents horizontal scrolling on the entire page */
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .gallery {
    overflow-x: hidden; /* Disables horizontal scrolling */
  }

  .movie {
    display: block; /* Ensures the iframe is a block element */
    margin-left: auto; /* Centers the iframe horizontally */
    margin-right: auto; /* Centers the iframe horizontally */
    width: 100%; /* Optionally adjust the width */
    max-width: 1200px; /* Optional: Limit the maximum width */
    height: 700px;
  }
  .full-screen-image {
    display: flex; /* Enables flexbox */
    justify-content: center; /* Centers the image horizontally */
    align-items: center; /* Vertically centers if necessary */
    height: auto; /* Let height adjust based on content */
    margin-top: 1.2rem;
    overflow: hidden; /* Prevent overflow */
    box-sizing: border-box; /* Prevent sizing issues */
  }

  .full-screen-image img {
    max-width: 100%; /* Restricts the width to 80% of the viewport */
    height: auto; /* Maintain aspect ratio */
    margin: 0; /* Removes any default margin */
    display: block; /* Prevents inline spacing around the image */
  }

  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scrolling */
  }

  @media (max-width: 668px) {
    .movie {
      display: block; /* Ensures the iframe is a block element */
      margin-left: auto; /* Centers the iframe horizontally */
      margin-right: auto; /* Centers the iframe horizontally */
      width: 100%; /* Optionally adjust the width */
      max-width: 1200px; /* Optional: Limit the maximum width */
      height: 300px;
    }
  }
</style>
