---
const { title, currentPage } = Astro.props;
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Favicon Files -->
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />

    <!-- Apple Touch Icon (for iOS devices) -->
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

    <!-- Web App Manifest -->
    <link rel="manifest" href="/site.webmanifest" />

    <!-- Web App Manifest Icons -->
    <link rel="icon" href="/web-app-manifest-192x192.png" sizes="192x192" />
    <link rel="icon" href="/web-app-manifest-512x512.png" sizes="512x512" />
    <title>{title}</title>
    <link rel="stylesheet" href="/styles/global.css" />
  </head>
  <body>
    <Header currentPage={currentPage} />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
